.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100vw;
}

.slideshowSlider {
  white-space: nowrap;
  transition: linear 5000ms;
}

.slide {
  display: inline-block;

  height: 850px;
  width: 40vw;
  border-radius: 40px;
}
